# /etc/systemd/system/myapp.service
[Unit]
Description=My FastAPI App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Notebook/src
Environment="PATH=/root/Notebook/venv/bin"
ExecStart=/root/Notebook/venv/bin/uvicorn openapi_server.main:app --host 0.0.0.0 --port 8080
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target